//Основные переменные--------------------------------------------------------
$default-font: normal 18px CirceRegular, sans-serif;
$text_grey: #3d4b51;
$text_blue: #008bd2;
$text_pink: #fe6868;
$button_download: #fc6868;
$teachers_li: #ff9090;
$selection_blue: #b1dff7;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
