@import "vars";
@import "fonts";
@import "libs";

::placeholder {
    color: #666;
}

::selection {
    color: #fff;
}

body {
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    font-family: $default-font;
    font-size: 14px;
    line-height: 1.65;
    color: $text_grey;

    input,
    textarea {
        border: #666 1px solid;
        outline: none;

        &:focus:required:invalid {
            border-color: red;
        }

        &:required:valid {
            border-color: green;
        }
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $text_grey;
}

ul {
    list-style: none;
    padding-left: 0;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

//Основная стилизация-------------------------------------------------------------------------------------

.header {
    padding-top: 10px;
}

.header__top-line {
    margin: 0;
}

.header-logo,
.logo-descr {
    display: inline-block;
    vertical-align: middle;
}

.header-logo {
    width: 116px;
}

.logo-descr {
    line-height: 16px;
    margin-left: -28px;
    width: 100%;
}

.contacts {
    margin: 0 0 22px 70px;
    padding-top: 16px;
    font-weight: 400;
    white-space: nowrap;

    &__worktime {
        display: inline-block;
        position: relative;
        line-height: 16px;
        padding-left: 28px;
        margin-right: 24px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-size: 12px;
            content: '\f017';
            color: $text-blue;
        }
    }

    &__address {
        display: inline-block;
        position: relative;
        line-height: 16px;
        padding-left: 25px;
        margin-right: 155px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-size: 10px;
            font-weight: 900;
            content: '\f124';
            color: $text-blue;
        }

    }

    &__phone {
        text-decoration: none;
        display: inline-block;
        position: relative;
        line-height: 16px;
        font-size: 24px;
        font-weight: 700;
        text-align: right;

        &:hover {
            text-decoration: none;
            border-bottom: 2px solid $text-blue;
        }

    }

    &__span {
        display: inline-block;
        color: $text-blue;
        font-weight: 700;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 0 71px;
    font-weight: 400;
    font-size: 18px;

    &__li.active &__link {
        color: $text-blue;
        border-bottom: 2px solid $text-blue;
    }

    &__link {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        padding-bottom: 12px;
        font-family: Circe, sans-serif;
        transition: all 0.7s;

        &:hover {
            text-decoration: none;

            animation: menu_border 0.7s;
            color: $text-blue;
        }
    }

    @keyframes menu_border {
        from {
            border-bottom: 2px solid transparent;
        }

        to {
            border-bottom: 2px solid $text-blue;
        }
    }

    &__li:not(:first-child) &__link {
        margin-left: 36px;

        &::before {
            display: block;
            text-align: center;
            position: absolute;
            top: -10px;
            left: -20px;
            content: '\2022';
            color: $text_blue;
            font-size: 30px;
        }
    }
}

//--------------------------------------------------------------------------------------------------------

.header-main {
    min-height: 854px;
    background: url('../img/header-bg.png') 0px -100px / 101% auto no-repeat;
    padding: 134px 0 100px;
    color: #fff;
}

.h1 {
    position: relative;
    font: 700 30px/48px CirceBold, sans-serif;
    text-align: center;
    margin: 0 0 43px -39px;
    width: 102%;

    &::before,
    &::after {
        display: block;
        position: absolute;
        content: '';
        top: -35px;
        width: 88px;
        height: 167px;
        background-image: url('../img/branch.png');
    }

    &::before {
        left: -59px;
    }

    &::after {
        right: -59px;
        transform: scale(-1, 1);
    }
}

.edu {
    margin-bottom: 39px;
    color: $text-grey;

    &__li {
        display: block;
        background-color: #fff;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 29px 5px;
        margin: 0 0 7px 13px;
        text-align: center;
        white-space: nowrap;
        width: 83%;

        &:hover {
            background-color: rgb(216, 216, 216);
            cursor: pointer;
        }

    }
}

.h2 {
    font: 400 36px/60px 'CirceBold', sans-serif;
}

.methodics {
    margin-bottom: 32px;
    margin-left: 11px;

    &-h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.36em;
        margin: 0 0 23px 13px;
        width: 102%;
    }

    &__li {
        position: relative;
        padding-left: 31px;
        // color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 7px;

        &::before {
            display: block;
            position: absolute;
            top: 3px;
            left: 4px;
            font-family: 'Font Awesome 5 Free';
            font-size: 13px;
            font-weight: 400;
            content: '\f058';
        }
    }
}

.button {
    color: $text-grey;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 27px 84px 23px;
    border: none;
    border-radius: 40px;
    letter-spacing: 5.04px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background-color: darken(#fff, 10%);
    }

    &:active {
        background-color: darken(#fff, 20%);
    }
}

.button_more {
    background-color: #fff;
}

//--------------------------------------------------------------------------------------------------------

.aims-s {
    padding: 95px 0 0;
}

.aim-border {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 10px;
    border-radius: 5px;
    background-color: $text-pink;
    margin-right: 55px;
}

.aim-head {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-bottom: 48px;

    &::before {
        position: absolute;
        display: block;
        content: '';
        width: 10px;
        height: 86px;
        border-radius: 5px;
        background-color: $text-pink;
        top: 5px;
        left: -2px;
    }

    &__h2 {
        display: block;
        font-family: Circe, sans-serif;
        margin-bottom: 21px;
        font-size: 36px;
        white-space: nowrap;
        margin-left: 65px;

        &_red {
            color: $text-pink;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 0 6px 0;
        }
    }

    &__p {
        font-size: 20px;
        margin: 0;
        margin-bottom: 52px;
        margin-left: 67px;

        &_p2 {
            margin-bottom: 0;
            margin-left: 0;
        }
    }
}

.aim-item {
    text-align: center;
    width: 100%;

    &__img {
        display: inline-block;
        width: 230px;
        height: 230px;
        background-color: rgb(255, 194, 194);
        margin-bottom: 11px;
        background-size: cover;
        background-repeat: no-repeat;

        &_1 {
            background-image: url('../img/aims/aim1.png');
            background-position: -60px 0px;
        }

        &_2 {
            background-image: url('../img/aims/aim2.png');
            background-position: -80px 0px;
        }

        &_3 {
            background-image: url('../img/aims/aim3.png');
            background-position: -60px 0px;
        }

        &_4 {
            background-image: url('../img/aims/aim4.png');
            background-position: -105px 0px;
        }
    }

    &__descr {
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
    }

    &.selected &__descr {
        color: $text-pink;
        text-decoration: underline;
    }
}

//--------------------------------------------------------------------------------------------------------

.achievements {
    padding: 52px 0 88px;

    &__h2 {
        position: relative;
        left: 15px;
        text-align: center;
        margin-bottom: 60px;

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 253px;
            height: 10px;
            border-radius: 5px;
            background-color: $text-pink;
            bottom: -10px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.achievement {
    white-space: nowrap;
    &:not(:last-child) {
        margin-bottom: 111px;
    }

    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 262px;
        height: 262px;
        margin-right: 92px;

        &_1 {
            background-image: url('../img/achievements/ach1.png');
            background-position: -101px -5px;
        }

        &_2 {
            background: $selection_blue url('../img/achievements/ach_empty.png') 50% 100% no-repeat;
            // background-position: -101px -5px;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-color: $selection_blue;
        }

        &_3 {
            background-image: url('../img/achievements/ach1.png');
            background-position: -101px -5px;
        }

        &_4 {
            background-image: url('../img/achievements/ach2.png');
            background-position: -101px -5px;
        }
    }

    &__descr {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        width: calc(100% - 70px - 262px);
    }

    &__h3 {
        font: 400 30px Circe, sans-serif;
        color: $text-pink;
        text-align: left;
        margin-bottom: 21px;
    }

    &__p1 {
        font: 700 24px Circe, sans-serif;
        text-align: left;
        margin-bottom: 25px;
    }

    &__p2 {
        font: 400 18px/36px Circe, sans-serif;
        text-align: left;
    }
}

//--------------------------------------------------------------------------------------------------------

.flamp-s {
    min-height: 1114px;
    padding-bottom: 190px;
}

.flamp-widget {
    display: block;
}

//--------------------------------------------------------------------------------------------------------

.download-s {
    position: relative;
    padding-top: 86px;
    background: url('../img/download-bg.png') no-repeat;
    background-position: 100% 0;
    height: 563px;
    color: #fff;
}

.download {
    &__h2 {
        font: 700 30px/1.6em Circe, sans-serif;
        width: 110%;
        margin-bottom: 45px;
        margin-left: -42px;
    }

    &__p {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 77px;
        margin-left: -42px;
    }
}

.button-round-wrapper {
    width: 525px;
    height: 609px;
    position: relative;
    top: -97px;
    left: -27px;
    background: url('../img/button-round_bg.png') no-repeat;
}

.button-round {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 106px;
    left: 350px;
    background: $button_download url('../img/button-round.png') center / 69px 69px no-repeat;
    border: none;
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 40px $button_download;
        background-color: darken($button_download, 3%);
    }

}

.button-down-wrapper {
    text-align: left;
}

.button_down {
    padding: 27px 105px 23px;
    margin-left: -42px;
}

//--------------------------------------------------------------------------------------

.ourcourses {
    padding-top: 116px;

    &__h2 {
        position: relative;
        left: -22px;
        font-family: $default-font, sans-serif;
        font-weight: normal;
        text-align: center;
        margin-bottom: 72px;

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 253px;
            height: 10px;
            border-radius: 5px;
            background-color: $text-pink;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.tab-header__item {
    font: 300 24px"CirceLight", sans-serif;
    padding: 13px 0 13px 24px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &.active {
        font-family: 'CirceBold', sans-serif;
    }
}

.tab-content {
    margin-left: 18px;

    &__h3 {
        font: bold 36px/2em 'Circe', sans-serif;
        margin-bottom: 23px;
    }

    &__p {
        font: 24px/2em 'CirceBold', sans-serif;
        background-color: $selection_blue;
    }

    &__text {
        font: normal 18px/2em 'Circe', sans-serif;
    }

    &__item {
        display: none;
        background-color: #f1f5f9;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url("../img/services/services-bg1.png");
            background-position: -485% -25%;
        }

        &:nth-child(2) {
            background-image: url("../img/services/services-bg2.png");
            background-position: 39px 23px;
        }

        &:nth-child(3) {
            background-image: url("../img/services/services-bg3.jpg");
            background-position: -65px 0px;
        }

        &:nth-child(4) {
            background-image: url("../img/services/services-bg4.jpg");
            background-position: -87px 0;
        }

        &:nth-child(5) {
            background-image: url("../img/services/services-bg5.jpg");
            background-position: -102px 0;
        }

        &.active {
            display: block;
        }
    }

}

//-----------------------------------------------------------------------

.gallery__h2 {
    position: relative;
    text-align: center;
    margin-bottom: 100px;

    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 253px;
        height: 10px;
        border-radius: 5px;
        background-color: $text-pink;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
    }
}



//---------------------------Список преподавателей------------------------------------------------

.teacherslist {
    padding-bottom: 115px;

    &__h2 {
        position: relative;
        text-align: center;
        margin-bottom: 100px;

        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 253px;
            height: 10px;
            border-radius: 5px;
            background-color: $text-pink;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.lang-select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &__item {
        position: relative;
        border-radius: 24px;
        width: 210px;
        padding: 6px 0 8px;
        text-align: center;
        background-color: $teachers_li;
        color: #fff;
        font-size: 20px;
        margin-right: 23px;
        margin-bottom: 25px;
        cursor: pointer;
        transition: all 0.2s;

        &.active,
        &:hover {
            background-color: $text_pink;
        }

        &::after {
            position: absolute;
            top: 4px;
            left: 7px;
            display: block;
            width: 38px;
            height: 38px;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(2)::after {
            background-image: url('../img/countries/c1.png');
        }

        &:nth-child(3)::after {
            background-image: url('../img/countries/c2.png');
        }

        &:nth-child(4)::after {
            background-image: url('../img/countries/c3.png');
        }

        &:nth-child(5)::after {
            background-image: url('../img/countries/c4.png');
        }

        &:nth-child(6)::after {
            background-image: url('../img/countries/c5.png');
        }

        &:nth-child(7)::after {
            background-image: url('../img/countries/c6.png');
        }

        &:nth-child(8)::after {
            background-image: url('../img/countries/c7.png');
        }

        &:nth-child(9)::after {
            background-image: url('../img/countries/c8.png');
        }

        &:nth-child(10)::after {
            background-image: url('../img/countries/c9.png');
        }

        &:nth-child(11)::after {
            background-image: url('../img/countries/c10.png');
        }

        &:nth-child(12)::after {
            background-image: url('../img/countries/c11.png');
        }
    }
}






//---------------------------НАШИ ПРЕПОДАВАТЕЛИ------------------------------------

.teachers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 632px;
    margin-bottom: 7px;
}

.teacher {
    width: 50%;

    &__photo {
        display: inline-block;
        width: 262px;
        height: 262px;
        vertical-align: middle;
        margin-right: 30px;

        &_1 {
            background: url('../img/teachers/t1.jpg') -185px 0px / 176% no-repeat;
        }

        &_2 {
            background: url('../img/teachers/t2.jpg') -36px 0/178% no-repeat;
        }

        &_3 {
            background: url('../img/teachers/t3.jpg') 0px 0px / 100% no-repeat;
        }

        &_4 {
            background: url('../img/teachers/t4.jpg') -222px -12px /185% no-repeat;
        }
    }

    &__right {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 30px);
    }

    &__h3 {
        color: #fe6868;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__stage {
        font-family: 'Circe', sans-serif;
        font-size: 24px;
        margin-bottom: 30px;
    }

    &__span {
        font-family: 'CirceBold', sans-serif;
    }

    &__spec {
        font-size: 18px;
        font-weight: 400;
    }
}

.teacherslist__button-wrapper {
    text-align: center;
}

.button_teachers {
    background-color: #fe6868;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.04px;
    padding: 26px 49px;
    margin-left: 57px;

    &:hover {
        background-color: lighten($text-pink, 5%);
    }

    &:active {
        background-color: darken($text-pink, 5%);
    }
}

.map-s {
    position: relative;
    height: 720px;
    background-color: #999;

    &::before {
        position: absolute;
        z-index: 99;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 91px;
        background: url('../img/map-top_border.png') 0px -2px / cover no-repeat;
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 91px;
        background: url('../img/map-bottom_border.png') 0px 0px / cover no-repeat;
    }

    #map {
        height: 100%;
    }
}

.footer {
    font-size: 18px;
    font-family: $default-font;
    padding-bottom: 40px;

    &__descr {
        line-height: 30px;
    }

    &__worktime {
        position: relative;
        padding-left: 28px;

        &::before {
            position: absolute;
            top: 3px;
            left: 0;
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-size: 12px;
            content: '\f017';
            color: #f25e5e;
        }
    }

    &__address {
        position: relative;
        padding-left: 25px;
        white-space: nowrap;

        &::before {
            position: absolute;
            top: 6px;
            left: 0;
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-size: 10px;
            font-weight: 900;
            content: '\f124';
            color: #f25e5e;
        }

    }

    &__phone {}

    &__phone-label {
        font-family: CirceBold, sans-serif;
    }

    .social-text {
        margin-bottom: 8px;
    }

    .social-icons__icon {
        display: inline-block;
        text-align: center;
        font-family: 'Font Awesome 5 Free';
        font-size: 16px;
        font-weight: 900;
        color: #f25e5e;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        background-color: #e6e6e6;
    }
}

@import "media"; // Always at the end